* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #d3d4d6;
}
.head {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 50px;
    border-radius: .5rem;
    z-index: 2;
}
.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 100vw;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
