.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pokemon {
    
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.statusPokemon {
    visibility:hidden;
    position: absolute;
}


.statusPokemon .abilities img {
    max-width: 100%;
    height: 40px;   
    
 }


.visivel:hover .statusPokemon{
    visibility: visible;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
    height: auto;
    margin: 0 0 0 .5rem;
    padding: .5rem;
    border: solid .1rem darkslategrey;
    border-radius: 1rem; 
    z-index: 1;    
}
.visivel:hover .statusPokemon .title{
    font-size: .850rem;
}

.abilities{
    display: flex;
    padding: 0 0 0 .5rem;
    justify-content: space-between;
    align-items: flex-start;
    
}

.statusPokemon .abilities img{
    max-width: 100%;
    height: 40px; 
    opacity: .7;   
    
 }
.nameAbilities{
    padding: 0;
    font-size: .650rem;
    list-style:none;
    text-transform: capitalize;
}


.stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
    text-transform: capitalize;        
}
.nameStats{
    display: grid;
    padding: 0 0 0 .5rem;
    font-size: .650rem;
    grid-template-columns: 1fr;
    list-style:none;

}
.numberStats{
    display: grid;
    margin: 0;
    padding: 0;
    font-size: .650rem;
    grid-template-columns: 1fr;
    list-style:none;
    
}

/*.progress-bar{
    --progress: 50;
    height: 80%;
    padding: .5px;
    display: flex;
    
}

.progress-bar::before{
    content: "";
    width: calc(var(--progress) * 1%);
    background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  }
*/
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}



@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
    .statusPokemon{
        width: 46%;
        max-width: 46%;
    }

}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .statusPokemon{
        width: 32%;
        max-width: 32%;
    }

}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .statusPokemon{
        width: 23.5%;
        max-width: 23.5%;
    }
}  


.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}